.error {
  color: red;
  text-align: center;
}
/* styles/HomePage.css */
.home-container {
  text-align: center;
}

.home-container input {
  display: block;
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 80%;
  max-width: 300px;
}

.home-container button {
  margin-top: 20px;
}
